html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    background-color: rgb(247, 213, 168);
    margin: 0 auto;
    padding: 10px;
    color: black;
    font-family:'Courier New', Courier, monospace;
    width: 40%;
}

.title-container {
    margin-bottom: 10px;
    padding: 8px;
    background-color: white;
}

.title {
    text-align: center;
}

.p-container {
    padding: 8px;
    margin-bottom: 10px;
}

.p-container span {
    font-weight: bold;
    color: rgb(133, 20, 12);
}

.links-container {
    padding: 12px;
    text-align: center;
}

.recipes {
    list-style: none;
}

.recipes li {
    margin: 8px 0;
}

img {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
    border: 2px solid black;
}

h2, h3 {
    text-align: center;
}

h2 {
    padding: 30px;
    margin: 0;
}

div {
    background-color: white;
}

p {
    text-align: center;
}

/** {
    outline: 2px solid red;
}*/

.container-name {
    margin-bottom: 10px;
    padding: 8px;
}

.how-container {
    margin: 10px 0;
    padding: 8px;
}

.ingredients-container {
    margin-bottom: 10px;
    padding: 8px;
}

.steps-container {
    margin-bottom: 10px;
    padding: 8px;
}