html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    background-color: grey;
    margin: auto;
    color: black;
    font-family: sans-serif;
    width: 40%;
}

#home-title {
    text-align: center;
    padding: 30px;
    margin: 0;
}

img {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
    border: 2px solid black;
}

h2, h3 {
    text-align: center;
}

h2 {
    padding: 30px;
    margin: 0;
}

div {
    background-color: white;
    padding-bottom: 20px;
    margin: 20px 0;
}

ul, ol {
    margin: 0 20px;
}

p {
    margin: 0 20px;
    text-align: center;
}

/** {
    outline: 2px solid red;
}*/